<!DOCTYPE html>
<html>
	<head>
		<%= include ../head.html.ejs %>
	</head>

	<body>

		<!-- Hero -->
		<section id="hero">
			<div class="jumbotron">
				<div class="container">
					<div class="row">
						<div style="background:url(http://image.spreadshirt.com/image-server/v1/designs/3826583,width=100,height=100.png/brass-knuckles_design.png) no-repeat center center;height:300px;width:100%;"></div>
					</div>
				</div>
			</div>
		</section>


	</body>
</html>