// Imports
@import 'mixins';
@import 'animation';

// Variables
@gold: #e7be55;

// Mixins
.arrowdown( @color, @top ) {
	&:after {
		width: 0;
    height: 0;
    margin-top: @top;
    position: absolute;
    content:"";
    display:block;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		border-top: 14px solid @color;
    left: 50%;
    margin-left: -14px;
	}
}

.arrowup( @color, @top ) {
	&:before {
		width: 0;
    height: 0;
    margin-top: -@top;
    position: absolute;
    content:"";
    display:block;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		border-bottom: 14px solid @color;
    left: 50%;
    margin-left: -14px;
	}
}

i.large {
	font-size: 3rem;
}

html {
	font-size: 16px; // 1 rem
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: "museo-slab", sans-serif;
	font-weight: 300;
	font-size: 4rem;
	color: #222;

	span.typer {
		.custom-animation();
		border-right: 3px solid transparent;
		padding-right: 5px;
	}
	.light {
		color: #666;
		color: rgba(0,0,0,.3);
	}
}

h2 {
	font-family: 'museo-slab', sans-serif;	
	font-weight: 100;
	color: #FFF;
	margin-bottom: 40px;

	&.black {
		color: #333;
		font-weight: 300;
	}

	&.strong {
		font-weight: 300;
	}
}

h3 {
	color: #999;
	font-family: 'museo-slab', sans-serif;
	font-size: 1.2rem;

	a {
		border-bottom: dotted 1px #333;
		color: #333;

		&:hover {
			text-decoration: none;
			color: #000;
		}
	}
}

label {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

p {
	font-family: "Open Sans", sans-serif;
	line-height: 2em;

	&.large {
		text-align: center;
		font-size: 1.2rem;
		font-weight: 100;
	}

	&.italic {
		font-style: italic;
		color: #999;
	}

	a {
		border-bottom: dotted 1px #333;
		color: inherit;

		&:hover {
			text-decoration: none;
			color: #000;
		}
	}
}

section {
	overflow: hidden;

	&.wide {
		background: #eee;
		padding: 60px 0 0 0;
	}

	&.dark {
		background: #111;
		padding: 60px 0;
	}

	&.gold {
		background: @gold;
		padding: 60px 0;
	}

	&.white {
		padding: 60px 0;
	}

	&.image {
		width:100%;
		height: 400px;
		background-size: cover;
		background-position: center center;

		&.lap_image {
			background-image: url('/images/tween/laptop.jpg')
		}
	}
}

.navbar {
	margin-bottom: 0;

	.dropdown-menu {
		a:hover {
			background: #EEE;
			color: inherit;
		}
	}	
}

.jumbotron {
	padding: 200px 0 120px 0;
	margin-bottom:0;
	background: @gold;
	overflow: hidden;

	.container {
		padding: 0;
	}

	.arrowdown( @gold, 120px );
}

#footer {
	.social {
		position: relative;
		float: left;
		background: #222;
		text-align: center;
		line-height: 30px;
		margin-right: 10px;
		border-radius: 50%;
		overflow: hidden;
		width: 30px;
		height: 30px;

		i {
			font-size: 1.1rem;
			color: #444;
		}
	}
	a {
		margin-left: 10px;

		&:hover {
			color: #AAA;
		}
	}
	p {
		margin-bottom: 0;
	}
}

#text {
	.arrowdown( #FFF, 60px );
}

#data {
	h2 {
		margin-bottom: 25px;
	}
}

#examples {
	.arrowup( #DDD, 74px );
	background: #DDD;

	.carousel-inner {
		min-height: 300px;
		position: relative;

		#lines, #workflow {
			width: 400px;
			height: 180px;
			margin: 40px 0;
		}
		#workflow {
			width: 280px;
			height: 220px;
			margin: 30px 0 10px 0;
		}
		img {
			margin: 20px 0;
		}
	}

	.carousel-indicators {
		position: relative;
		bottom: inherit;
		margin-bottom: 50px;

		li {
			margin: 0 3px;
			border: none;
			background: #CCC;
			width: 8px;
			height: 8px;

			&.active {
				background: #333;
				width: 8px;
				height: 8px;
			}
		}
	}

	h2 {
		margin-bottom: 0;
	}
}

i.fa-flatshadow {
	text-shadow: 	rgb(24, 24, 24) 1px 1px 0px, 
								rgb(24, 24, 24) 2px 2px 0px, 
								rgb(24, 24, 24) 3px 3px 0px, 
								rgb(24, 24, 24) 4px 4px 0px, 
								rgb(24, 24, 24) 5px 5px 0px, 
								rgb(24, 24, 24) 6px 6px 0px, 
								rgb(24, 24, 24) 7px 7px 0px, 
								rgb(24, 24, 24) 8px 8px 0px, 
								rgb(24, 24, 24) 9px 9px 0px, 
								rgb(24, 24, 24) 10px 10px 0px, 
								rgb(24, 24, 24) 11px 11px 0px, 
								rgb(24, 24, 24) 12px 12px 0px, 
								rgb(24, 24, 24) 13px 13px 0px, 
								rgb(24, 24, 24) 14px 14px 0px, 
								rgb(24, 24, 24) 15px 15px 0px, 
								rgb(24, 24, 24) 16px 16px 0px, 
								rgb(24, 24, 24) 17px 17px 0px, 
								rgb(24, 24, 24) 18px 18px 0px;
}

.area {
  fill: #DDD;
}

.area2 {
	fill: #CCC;
}