/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@keyframes blink {
  0% {
    border-color: #222;
  }
  45% {
    border-color: #222;
  }
  55% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  0% {
    border-color: #222;
  }
  45% {
    border-color: #222;
  }
  55% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}
i.large {
  font-size: 3rem;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: "museo-slab", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  color: #222;
}
h1 span.typer {
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  -ms-animation: blink 1s linear infinite;
  -o-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  border-right: 3px solid transparent;
  padding-right: 5px;
}
h1 .light {
  color: #666;
  color: rgba(0, 0, 0, 0.3);
}
h2 {
  font-family: 'museo-slab', sans-serif;
  font-weight: 100;
  color: #FFF;
  margin-bottom: 40px;
}
h2.black {
  color: #333;
  font-weight: 300;
}
h2.strong {
  font-weight: 300;
}
h3 {
  color: #999;
  font-family: 'museo-slab', sans-serif;
  font-size: 1.2rem;
}
h3 a {
  border-bottom: dotted 1px #333;
  color: #333;
}
h3 a:hover {
  text-decoration: none;
  color: #000;
}
label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
p {
  font-family: "Open Sans", sans-serif;
  line-height: 2em;
}
p.large {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
}
p.italic {
  font-style: italic;
  color: #999;
}
p a {
  border-bottom: dotted 1px #333;
  color: inherit;
}
p a:hover {
  text-decoration: none;
  color: #000;
}
section {
  overflow: hidden;
}
section.wide {
  background: #eee;
  padding: 60px 0 0 0;
}
section.dark {
  background: #111;
  padding: 60px 0;
}
section.gold {
  background: #e7be55;
  padding: 60px 0;
}
section.white {
  padding: 60px 0;
}
section.image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
}
section.image.lap_image {
  background-image: url('/images/tween/laptop.jpg');
}
.navbar {
  margin-bottom: 0;
}
.navbar .dropdown-menu a:hover {
  background: #EEE;
  color: inherit;
}
.jumbotron {
  padding: 200px 0 120px 0;
  margin-bottom: 0;
  background: #e7be55;
  overflow: hidden;
}
.jumbotron .container {
  padding: 0;
}
.jumbotron:after {
  width: 0;
  height: 0;
  margin-top: 120px;
  position: absolute;
  content: "";
  display: block;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #e7be55;
  left: 50%;
  margin-left: -14px;
}
#footer .social {
  position: relative;
  float: left;
  background: #222;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
}
#footer .social i {
  font-size: 1.1rem;
  color: #444;
}
#footer a {
  margin-left: 10px;
}
#footer a:hover {
  color: #AAA;
}
#footer p {
  margin-bottom: 0;
}
#text:after {
  width: 0;
  height: 0;
  margin-top: 60px;
  position: absolute;
  content: "";
  display: block;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #ffffff;
  left: 50%;
  margin-left: -14px;
}
#data h2 {
  margin-bottom: 25px;
}
#examples {
  background: #DDD;
}
#examples:before {
  width: 0;
  height: 0;
  margin-top: -74px;
  position: absolute;
  content: "";
  display: block;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #dddddd;
  left: 50%;
  margin-left: -14px;
}
#examples .carousel-inner {
  min-height: 300px;
  position: relative;
}
#examples .carousel-inner #lines,
#examples .carousel-inner #workflow {
  width: 400px;
  height: 180px;
  margin: 40px 0;
}
#examples .carousel-inner #workflow {
  width: 280px;
  height: 220px;
  margin: 30px 0 10px 0;
}
#examples .carousel-inner img {
  margin: 20px 0;
}
#examples .carousel-indicators {
  position: relative;
  bottom: inherit;
  margin-bottom: 50px;
}
#examples .carousel-indicators li {
  margin: 0 3px;
  border: none;
  background: #CCC;
  width: 8px;
  height: 8px;
}
#examples .carousel-indicators li.active {
  background: #333;
  width: 8px;
  height: 8px;
}
#examples h2 {
  margin-bottom: 0;
}
i.fa-flatshadow {
  text-shadow: #181818 1px 1px 0px, #181818 2px 2px 0px, #181818 3px 3px 0px, #181818 4px 4px 0px, #181818 5px 5px 0px, #181818 6px 6px 0px, #181818 7px 7px 0px, #181818 8px 8px 0px, #181818 9px 9px 0px, #181818 10px 10px 0px, #181818 11px 11px 0px, #181818 12px 12px 0px, #181818 13px 13px 0px, #181818 14px 14px 0px, #181818 15px 15px 0px, #181818 16px 16px 0px, #181818 17px 17px 0px, #181818 18px 18px 0px;
}
.area {
  fill: #DDD;
}
.area2 {
  fill: #CCC;
}
