<!DOCTYPE html>
<html>
  <head>
    <%= include ../head.html.ejs %>
  </head>

  <body>

    <!-- Alerts -->
    <% if (message.error) { %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Oops!</strong> Your username/password combination doesn't match
      </div>
    <% } %>

    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <a href="/" class="btn btn-danger" data-bypass="true">Close</a>
          </form>
        </div>
      </div>
    </div>

    <!-- Hero -->
    <section id="hero">
      <div class="jumbotron">
        <div class="container">
          <div class="col-md-7">
            <h1>Why login?</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content.</p>
            <p>
              <div class="btn-group linkedin">
                <a class="btn btn-info" data-bypass="true"><i class="fa fa-linkedin"></i></a>
                <a href="login/linkedin" class="btn btn-info" data-bypass="true">Login with LinkedIn</a>
              </div>
              <div class="btn-group facebook">
                <a class="btn btn-info" data-bypass="true"><i class="fa fa-facebook"></i></a>
                <a href="login/facebook" class="btn btn-info" data-bypass="true">Login with Facebook</a>
              </div>
            </p>
          </div>
          <div class="col-md-3 col-md-offset-2">
            <form class="form-signin pull-right" action="login/local" method="POST">
              <h2 class="form-signin-heading">Please sign in</h2>
              <div class="form-group">
                <label class="sr-only" for="username">Email address</label>
                <input type="email" name="username" class="form-control" id="username" placeholder="Enter email" value="jeroen@outlook.com">
              </div>
              <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="test">
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Selling -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>I'm new here</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-success" href="account/new" data-bypass="true" role="button">Register »</a></p>
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <%= include ../footer.html.ejs %>
    </section>


  </body>
</html>