section#footer.dark
	.container
		.row
			.col-md-5
				h3 Want to hire me?
				p
					| Donec consequat fringilla libero, ac sollicitudin nibh volutpat at. Suspendisse adipiscing magna nec elit condimentum, ac ullamcorper purus tincidunt. 
			.col-md-2.col-md-offset-1
				h3 Contact
				p
					i.fa.fa-envelope  
					a(href="mailto:mail@heibel.co") mail@heibel.co
				p
					i.fa.fa-skype
					a(href="skype:jgavanleeuwen") jgavanleeuwen
			.col-md-2.col-md-offset-1
				h3 Social
				.social
					i.fa.fa-twitter.fa-flatshadow
				.social
					i.fa.fa-linkedin.fa-flatshadow
				.social
					i.fa.fa-github.fa-flatshadow